<div class='container-fluid'>
  <title>Store Page</title>
  <h1>Store Page</h1>
  <div *ngIf='products.length' class='row storeRow'>
    <div *ngFor='let product of products; let i = index;' class='col-6 col-sm-6 col-md-4 col-lg-3 productCard'>
      <div class='card'>
        <div class='imgContainer'>
          <img class='card-img-top productImage' src='{{product.image_url}}' alt='Card image cap'>
        </div>
        <div class='card-body'>
          <h3 class='card-title'>{{product.name}}</h3>
          <p class='card-text'>Bike: {{product.id}} - product desc</p>
          <span class='card-text'>{{product.price | currency}}</span>
        </div>
        <button class='btn btn-primary btn-block' type='button' (click)='addToCart(i)'>Add</button>
      </div>
    </div>
  </div>
</div>